<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/header.css">

    <script src="https://kit.fontawesome.com/6e1bf1a6bc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,300&display=swap" rel="stylesheet">

    <title>@Resources.Home.Index.Index.RestaurantName</title>

</head>
<body>
    <header>
        <div class="noselect">
            <a asp-action="Index" style="text-decoration: none"><h3>Restaurant</h3></a>
        </div>
        <ul class="noselect">
            <li><a asp-action="Index">@Resources.Layout.Layout.NavHome</a></li>
            <li><a asp-action="About">@Resources.Layout.Layout.NavAbout</a></li>
            <li><a href="">@Resources.Layout.Layout.NavMenu</a></li>
            <li><a asp-action="Work">@Resources.Layout.Layout.NavWork</a></li>

        </ul>

        @await Component.InvokeAsync("Languages")

    </header>

    @RenderBody()

    <footer>
        <p>
            @Resources.Layout.Layout.FindUs <br>
            <a href=""><i class="fab fa-facebook-f"></i></a> <a href=""><i class="fab fa-instagram"></i></a>
        </p>

        <p>
            @Resources.Layout.Layout.Address
        </p>
    </footer>
</body>
</html>